{% extends "sandtable/base.html" %}
{% load static %}

{% block content %}
<main class='settings'>
    <div class="header center">
        <a>Settings</a>
    </div>
    <div class="track-list-div">
        <ul class="settings-list">
            <li>
                <form action="#" method="get">
                    <input type="submit" class="btn" value="Led fade" name="fadeButton">
                </form>
            </li>
            <li>
                <form action="#" method="get">
                    <input type="submit" class="btn" value="Home" name="homeButton">
                </form>
            </li>
            <li>
                <form action="#" method="get">
                    <input type="submit" class="btn" value="Stop motors" name="stopButton">
                </form>
            </li>
            <li>
                <form action="#" method="get">
                    <input type="submit" class="btn" value="Power off" name="powerButton">
                </form>
            </li>
            <li>
                <a>Motor speed:</a>
                <form action="#" method="get" id="motorSliderForm">
                    <input type="range" id="speedSlider" min="1" max="10" value={{ motorSpeed }} name="motorSpeedSlider">
                    <a id="speedSliderValue"></a>
                </form>
            </li>
            <li>
                <a>Led speed:</a>
                <form action="#" method="get" id="ledSliderForm">
                    <input type="range" id="ledSlider" min="1" max="1000" value={{ ledSpeed }} name="ledSpeedSlider">
                    <a id="ledSliderValue"></a>
                </form>
            </li>
        </ul>
    </div>

    <script>
        var speedSlider = document.getElementById("speedSlider");
        var speedValue = document.getElementById("speedSliderValue");
        speedValue.innerHTML = speedSlider.value;

        speedSlider.oninput = function() {
            speedValue.innerHTML = this.speedValue;
        }

        speedSlider.onpointerup = function() {
            document.getElementById("motorSliderForm").submit();
        }

        var ledSlider = document.getElementById("ledSlider");
        var ledValue = document.getElementById("ledSliderValue");
        ledValue.innerHTML = ledSlider.value;

        ledSlider.oninput = function() {
            ledValue.innerHTML = this.ledValue;
        }

        ledSlider.onpointerup = function() {
            document.getElementById("ledSliderForm").submit();
        }

    </script>
</main>
{% endblock content %}